<section class="home-section">
    <p class="home-description">
      Welcome to Dimi's and Pierre's calendar, your one-stop destination for managing events and categories. Whether you're planning a conference, workshop, or any other type of event, our platform makes it easy for you to create, organize, and categorize events seamlessly.
      <br><br>
      Explore the world of events and categories with us and make your event management experience hassle-free and efficient. Our advanced features include being able to edit your events categories whenever you want to! You can also filter events and categories by using the search bars or even using categories!.
    </p>
  </section>
  